   html {
      margin: 0;
      padding: 0;
      border: 0;
    }
    body {
      font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.4em;
      background: #f5f5f5;
      color: #4d4d4d;
      min-width: 230px;
      max-width: 550px;
      margin: 0 auto;
      -webkit-font-smoothing: antialiased;
      font-weight: 300;
    }
    h1 {
      display: block;
      margin: 50 auto;
      width: 600px;
      font-size: 30px;
    }
    #Qtube {
      display: block;
      margin: 0 auto;
      width: 250px;
      margin-top: 100px;
      font-size: 80px;
    }
    #youtube-component {
      width: 600px;
      margin: 50px auto;
      display: block;
    }
    .youtube-wrapper {
      margin: auto;
      left: 0;
      right: 0;
    }
button {
   border-top: 1px solid #f7979f;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#ff0000));
   background: -webkit-linear-gradient(top, #9c3e3e, #ff0000);
   background: -moz-linear-gradient(top, #9c3e3e, #ff0000);
   background: -ms-linear-gradient(top, #9c3e3e, #ff0000);
   background: -o-linear-gradient(top, #9c3e3e, #ff0000);
   padding: 14px 28px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 0 auto;
   width: 300px;
   display: block;
   }
button:hover {
   border-top-color: #f7000c;
   background: #f7000c;
   color: #ffffff;
   }
button:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }
   input {
     outline: none;
     display: block;
     margin: 0 auto;
     width: 300px;
     height: 50px;
     font-size: 40px;
     border: 1px solid #d0d0d0;
     border-radius: 5px;
   }
   #roomToCreate, #roomToJoin {
     margin-top: 100px;
   }
   #create-room, #join-room {
     margin-top: 10px;
   }